{% extends "index.html" %}

{% block content %}
<div class="container-fluid px-4"> 
<br>
<div class="container">
    
</div>
<div class="card-body">
  <div class="container-fluid px-4">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          User Table
        <a href="{% url 'Admin_reg' %}" style='font-size:18px; ' class="bi bi-person-plus-fill float-end text-primary"><i class="fa-solid fa-user-plus"></i></a>
        </div>
        <div class="card-body">
          <table id="datatablesSimple" style="white-space: nowrap;">
            <thead>
            <tr>
                                            <th>Sr.no</th>
                                            <th>User ID</th>
                                            <th>User</th>
                                            <th>Status</th>
                                            <th>Email</th>
                                            <th>Created At</th>
                                            <th>Modified At</th>
                                            <th>Update</th>
                                            <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for items in user %}
            <tr>
                                      
                                            <td>{{ forloop.counter }}</td>
                                            <td>ADM_{{ items.id }}</td>
                                            <td>{{ items.name }}</td>
                                            <td>{{ items.status }}</td>
                                            <td>{{ items.email }}</td>
                                            <td>{{ items.createdat }}</td>
                                            <td>{{ items.modifiedat }}</td>
                                            <td>
                                            <div class="row justify-content-md-left">
                                                <div class="col-auto p-0">
                                                    <button class="btn">
                                                        <a href="{% url 'admin_edit' items.id %}"><i class="fas fa-edit"></i></a>
                                                    </button>
                                                </div>
                                            </td>
                                            <td>
                                            <div class="container">
                                                <div class="row justify-content-md-left">
                                                <div class="col-auto p-0">
                                                    <form action="{% url 'admin_status_change' items.id 'enable' %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn" onclick="return confirm('Do You want to Enable this user?')" data-bs-toggle="modal" data-bs-target="#deleteModal" style="color: red;" >
                                                       <i class="fa-solid fa-lock-open"></i>                                                 
                                                    </button>
                                                </form>
                                                </div>
                                            <div class="col-auto p-0">
                                                <form action="{% url 'admin_status_change' items.id 'disable' %}" method="POST">
                                                {% csrf_token %}
                                                    <button type="submit" class="btn" onclick="return confirm('Do You want to disable this user?')" data-bs-toggle="modal" data-bs-target="#deleteModal" style="color: red;" >
                                                        <i class="fa-solid fa-user-lock"></i>                                                    
                                                    </button>
                                                </form>
                                            </div>

                                                     </div>
                                                </div>
                                            </td>
                                               
                                        </tr>
                                            {% empty %}
                                        <tr>
                                            <td colspan="3">No Records found.</td>
                                        </tr>
                                            {% endfor %}
                                       
                                    </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
      
</div>


{% endblock %}