{% extends "index.html" %}

{% block content %}
<div class="container-fluid px-4"> 
<br>
      <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            New Admin Registration
          </div>
          <div class="card-body">
            <div class="container-fluid px-4">
                <form  method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-xl-3 col-md-6">
                      <input type="text" class="form-control" placeholder="name" id="username" name="username">
                    </div>
                  </div>
                  <br>
                   <div class="row">
                    <div class="col-xl-3 col-md-6">
                      <input type="text" class="form-control" placeholder="Email" id="email" name="email">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xl-3 col-md-6">
                      <input type="text" class="form-control" placeholder="password" id="password" name="password">
                    </div>
                  </div>
                <br>
<div class="row">
                    <div class="col-xl-3 col-md-6">
                      <div class="form-group">
                      <label for="exampleFormControlSelect1" class="mb-2">Select Value</label>
                      <select class="form-control" id="exampleFormControlSelect1" name="status" style="width: 300px;">
                        <option value="1">Active</option>
                        <option value="0" >De-Active</option>
                      </select>
                    </div>
                    </div>
                  </div>
                <br>
                  <button type="submit" class="btn btn-primary" name="admin_reg">Submit</button>
                </form>
            </div>
          </div>
      </div>
</div>
{% endblock %}