{% extends "index.html" %}

{% block content %}
<div class="container-fluid px-4"> 
<br>
<div class="container">
    
</div>
<div class="card-body">
  <div class="container-fluid px-4">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Event Table
        <a href="" style='font-size:18px; ' class="bi bi-person-plus-fill float-end text-primary"><i class="fa-solid fa-user-plus"></i></a>
        </div>
        <div class="card-body">
          <table id="datatablesSimple">
            
          </table>
        </div>
      </div>
  </div>
</div>
      
</div>


{% endblock %}